/*custom css for site theme */
body {
    background-color: #f8f9fa;
  }
  .navbar {
    background-color: #002452 !important; /* Queen's Blue */
  }
  .navbar-brand, .nav-link {
    color: #fabd0f !important; /* Queen's Gold */
  }
  .card-header {
    background-color: #002452 !important; /* Queen's Blue */
    color: #ffffff;
  }
  .card-body {
    background-color: #ffffff;
    border: 1px solid #002452; /* Queen's Blue */
  }
  .section-title {
    color: #002452 !important; /* Queen's Blue */
  }
  .year-title {
    color: #fabd0f; /* Queen's Gold */
  }
  /*custom css for site theme */

  /* Custom CSS for publication cards */
  .publication-card {
    margin-bottom: 20px;
  }
  .publication-card .card-header {
    background-color: #002452 !important; /* Queen's Blue */
    color: #ffffff;
  }
  .publication-card .card-body {
    background-color: #ffffff;
    border: 1px solid #002452; /* Queen's Blue */
  }
  .publication-card .year-title {
    color: #fabd0f; /* Queen's Gold */
  }
  .publication-card .publication-title {
    font-weight: bold;
  }
  .publication-card .publication-authors,
  .publication-card .publication-venue,
  .publication-card .publication-year {
    margin-bottom: 5px;
  }
  .publication-card .publication-links a {
    margin-right: 10px;
  }
