/*custom css for site theme */
body {
    background-color: #f8f9fa;
  }
  .navbar {
    background-color: #002452 !important; /* Queen's Blue */
  }
  .navbar-brand, .nav-link {
    color: #fabd0f !important; /* Queen's Gold */
  }
  .card-header {
    background-color: #002452 !important; /* Queen's Blue */
    color: #ffffff;
  }
  .card-body {
    background-color: #ffffff;
    border: 1px solid #002452; /* Queen's Blue */
  }
  .section-title {
    color: #002452 !important; /* Queen's Blue */
  }
  .year-title {
    color: #fabd0f; /* Queen's Gold */
  }
  /*custom css for site theme */